<span jwcid="shell">
<LINK REL="stylesheet" TYPE="text/css" href="styles.css" TITLE="default">
<body jwcid="@Body">

<span class="standardText">
<a href="#" jwcid="@PageLink" page="Home"><img src="images/cayenne_logo.gif" width=183 height=70 alt="return home" border="0"></a> 
[ <a jwcid="@PageLink" page="BrowseArtistsPage">view artists</a> ] - 
[ <a jwcid="@PageLink" page="BrowseGalleriesPage">view galleries</a> ]<br><br>
</span>

<span jwcid="@RenderBody"/>
<br><br>
<span class="smallText">cayenne tapestry sample application</span>
</body>
</span>
