<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">	
	<!-- ======================================= -->
	<!-- DbAdapters -->
	<!-- ======================================= -->
	<bean id="OracleAdapter" class="org.objectstyle.cayenne.dba.oracle.OracleAdapter"/>
	<bean id="SybaseAdapter" class="org.objectstyle.cayenne.dba.sybase.SybaseAdapter"/>
	<bean id="FirebirdAdapter" class="org.objectstyle.cayenne.dba.firebird.FirebirdAdapter"/>
	<bean id="MySQLAdapter" class="org.objectstyle.cayenne.dba.mysql.MySQLAdapter"/>
	<bean id="PostgresAdapter" class="org.objectstyle.cayenne.dba.postgres.PostgresAdapter"/>
	<bean id="OpenBaseAdapter" class="org.objectstyle.cayenne.dba.openbase.OpenBaseAdapter"/>
	<bean id="SQLServerAdapter" class="org.objectstyle.cayenne.dba.sqlserver.SQLServerAdapter"/>
	<bean id="DB2Adapter" class="org.objectstyle.cayenne.dba.db2.DB2Adapter"/>
	<bean id="HSQLDBAdapter" class="org.objectstyle.cayenne.dba.hsqldb.HSQLDBAdapter"/>

	<!-- ======================================= -->
	<!-- Access Stack Adapters -->
	<!-- ======================================= -->
	<bean id="OracleStackAdapter" class="org.objectstyle.cayenne.unit.OracleStackAdapter">
		<constructor-arg><ref bean="OracleAdapter"/></constructor-arg>
	</bean>
	<bean id="SybaseStackAdapter" class="org.objectstyle.cayenne.unit.SybaseStackAdapter">
		<constructor-arg><ref bean="SybaseAdapter"/></constructor-arg>
	</bean>
	<bean id="FirebirdStackAdapter" class="org.objectstyle.cayenne.unit.FirebirdStackAdapter">
		<constructor-arg><ref bean="FirebirdAdapter"/></constructor-arg>
	</bean>
	<bean id="MySQLStackAdapter" class="org.objectstyle.cayenne.unit.MySQLStackAdapter">
		<constructor-arg><ref bean="MySQLAdapter"/></constructor-arg>
	</bean>
	<bean id="PostgresStackAdapter" class="org.objectstyle.cayenne.unit.PostgresStackAdapter">
		<constructor-arg><ref bean="PostgresAdapter"/></constructor-arg>
	</bean>
	<bean id="OpenBaseStackAdapter" class="org.objectstyle.cayenne.unit.OpenBaseStackAdapter">
		<constructor-arg><ref bean="OpenBaseAdapter"/></constructor-arg>
	</bean>
	<bean id="SQLServerStackAdapter" class="org.objectstyle.cayenne.unit.SQLServerStackAdapter">
		<constructor-arg><ref bean="SQLServerAdapter"/></constructor-arg>
	</bean>
	<bean id="DB2StackAdapter" class="org.objectstyle.cayenne.unit.DB2StackAdapter">
		<constructor-arg><ref bean="DB2Adapter"/></constructor-arg>
	</bean>
	<bean id="HSQLDBStackAdapter" class="org.objectstyle.cayenne.unit.HSQLDBStackAdapter">
		<constructor-arg><ref bean="HSQLDBAdapter"/></constructor-arg>
	</bean>
	
	<!-- ======================================= -->
	<!-- DataMaps -->
	<!-- ======================================= -->
	<bean id="TestMap" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/testmap.map.xml</value></constructor-arg>
	</bean>
	<bean id="PeopleMap" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/people.map.xml</value></constructor-arg>
	</bean>
	<bean id="LockingMap" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/locking.map.xml</value></constructor-arg>
	</bean>
	<bean id="RelationshipMap" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/relationships.map.xml</value></constructor-arg>
	</bean>
	<bean id="OneWayMap" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/one-way-map.map.xml</value></constructor-arg>
	</bean>
	<bean id="DB1Map" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/map-db1.map.xml</value></constructor-arg>
	</bean>
	<bean id="DB2Map" class="org.objectstyle.cayenne.unit.DataMapFactory">
		<constructor-arg><value>test-resources/map-db2.map.xml</value></constructor-arg>
	</bean>
	
	<!-- ======================================= -->
	<!-- DataSetFactory -->
	<!-- ======================================= -->
	<bean id="DataSetFactory" class="org.objectstyle.cayenne.unit.XMLDataSetFactory">
		<property name="baseDir"><value>src/tests/resources/test-resources/dml</value></property>
	</bean>
	
	<!-- ======================================= -->
	<!-- Access Stacks -->
	<!-- ======================================= -->
	<bean id="TestStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg><list><ref bean="TestMap"/></list></constructor-arg>
	</bean>
	<bean id="PeopleStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg><list><ref bean="PeopleMap"/></list></constructor-arg>
	</bean>
	<bean id="LockingStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg><list><ref bean="LockingMap"/></list></constructor-arg>
	</bean>
	<bean id="RelationshipStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg><list><ref bean="RelationshipMap"/></list></constructor-arg>
	</bean>
	<bean id="OneWayStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg><list><ref bean="OneWayMap"/></list></constructor-arg>
	</bean>
	<bean id="MultiNodeStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg>
			<list><ref bean="DB1Map"/><ref bean="DB2Map"/></list>
		</constructor-arg>
	</bean>
	<!-- Used to create DB schema to avoid conflicts when schema for individual stacks is generated. -->
	<bean id="SchemaSetupStack" class="org.objectstyle.cayenne.unit.SimpleAccessStack">
		<constructor-arg><ref bean="TestResources"/></constructor-arg>
		<constructor-arg><ref bean="DataSetFactory"/></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="TestMap"/>
				<ref bean="PeopleMap"/>
				<ref bean="LockingMap"/>
				<ref bean="RelationshipMap"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- ======================================= -->
	<!-- Test Resources Container -->
	<!-- ======================================= -->
	<bean id="TestResources" class="org.objectstyle.cayenne.unit.CayenneTestResources">
		<constructor-arg>
			<map>
				<entry key="org.objectstyle.cayenne.dba.oracle.OracleAdapter"><ref bean="OracleStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.sybase.SybaseAdapter"><ref bean="SybaseStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.firebird.FirebirdAdapter"><ref bean="FirebirdStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.mysql.MySQLAdapter"><ref bean="MySQLStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.postgres.PostgresAdapter"><ref bean="PostgresStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.openbase.OpenBaseAdapter"><ref bean="OpenBaseStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.sqlserver.SQLServerAdapter"><ref bean="SQLServerStackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.db2.DB2Adapter"><ref bean="DB2StackAdapter"/></entry>
				<entry key="org.objectstyle.cayenne.dba.hsqldb.HSQLDBAdapter"><ref bean="HSQLDBStackAdapter"/></entry>
			</map>
		</constructor-arg>
		<property name="testResourcesDir"><value>build/tests/deps/test-resources</value></property>
	</bean>
	
	<!-- ======================================= -->
	<!-- SQLTemplate Customizer (external reference) -->
	<!-- ======================================= -->
	<bean id="SQLTemplateCustomizer" class="org.objectstyle.cayenne.unit.SpringResourceFactory">
		<constructor-arg><value>src/tests/resources/test-resources/dml/unit.util.SQLTemplateCustomizer.xml</value></constructor-arg>
	</bean>
</beans>