.standardTable {font-family: arial; border-style: none; font-size: 12px};
SPAN.titleTextStrong {font-family: arial; font-size: 14px; font-weight: bold}
SPAN.standardText {font-family: arial; border-style: none; font-size: 12px;}
SPAN.errorText {font-family: arial; border-style: none; font-size: 12px; font-weight: bold; color: red;}
SPAN.smallText {font-family: arial; border-style: none; font-size: 10px; }