##Terminology:
##	Base class - super superclass of entity, ie, org.objectstyle.cayenne.CayenneDataObject or MyBaseClass
##  Super class - superclass of entity, ie,  org.objectstyle.cayenne.art.auto._Artist
##	Sub class - class of entity, ie, org.objectstyle.cayenne.art.Artist
##
##  Classes available in template
##    objEntity - the ObjEntity class: See org.objectstyle.cayenne.map.ObjectEntity
##    stringUtils - class for string "helper" functions: See org.objectstyle.cayenne.gen.StringUtils
##    entityUtils - class for entity "helper" functions: See org.objectstyle.cayenne.gen.EntityUtils
##    importUtils - class for import statement management: See org.objectstyle.cayenne.gen.ImportUtils
##
##
${importUtils.setPackage($entityUtils.subPackageName)}##
${importUtils.addReservedType("${entityUtils.subPackageName}.${entityUtils.subClassName}")}##
${importUtils.addType("${entityUtils.superPackageName}.${entityUtils.superClassName}")}##
${importUtils.generate()}

public class ${entityUtils.subClassName} extends ${entityUtils.superClassName} {

}
